body {
  font-family: helvetica;
  margin: 0;
  overscroll-behavior: none;
}

.du-header {
  background: #efefef;
  margin-bottom: 1em;
  max-height: 2.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  position: inherit !important;
}

.du-header__inner {
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.du-header__title {
  display: inline-block;
  margin: 0 0.25em 0 0;
}

.du-header__item {
  margin: 0.5em 0.5em 0 0;
}

.du-content-container {
  box-sizing: border-box;
  font-size: 1em;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 0.75em;
}

.du-section {
  margin-bottom: 2em;
}

.du-info-text {
  margin-bottom: 1em;
}

.du-button__label {
  display: inline-block;
  vertical-align: middle;
}

.du-button__label--name {
  max-width: 17em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.du-button {
  background: #efefef;
  border: 1px solid black;
  border-radius: 0.25em;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: inherit;
  height: 2em;
  line-height: 1.5em;
  min-width: 6em;
  padding: 0.1em 0.5em;
}

.du-button:disabled {
  cursor: default;
  opacity: 0.5;
}

.du-dude-name-button {
  display: inline-block;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.du-item-summary:hover, .du-details:hover > summary, .du-button:hover:enabled {
  color: #51b1c7;
}


*:focus, *:focus+.du-checkboxes__label:before {
  border-width: 2px !important;
  box-shadow: 0 0 0.1em 0.1em #51b1c7;
  color: #51b1c7;
  outline:none;
}

.du-button--submit {
  background: #43b139;
  color: white;
}

.du-button--delete {
  background: #ff0909;
  color: white;
}

.du-button--delete:focus, .du-button--delete:hover:enabled, .du-button--submit:focus, .du-button--submit:hover:enabled {
  color: black;
}

.du-button--text-only {
  background: none;
  border: none;
}

.du-button--header {
  min-width: unset;
}

.du-details {
  cursor: pointer;
  margin-bottom: 0.5em;
}

.du-details__list {
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 0.5em 0 0 0;
}

.du-hr {
  border-bottom: 1px solid #808080;
  border-top: none;
  margin-bottom: 0.5em;
  margin-top: 0;
  width: 100%;
}

.du-full-width-container__outer {
  left: 0;
  position: absolute;
  width: 100%;
}

.du-full-width-container__inner {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 0.75em;
}

.du-notifications__container {
  bottom: 1em;
  position: fixed;
  z-index: 1
}

.du-notifications__item {
  align-items: center;
  background: white;
  border-radius: 0.5em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.du-notifications__item--delete {
  box-shadow: inset 0 0 0.1em 0.25em #ff0909, 0px 0em 0.5em 0em #ff0909;
}

.du-notifications__item--success {
  box-shadow: inset 0 0 0.1em 0.25em #43b139, 0px 0em 0.5em 0em #43b139;
}

.du-notifications__item--warning {
  box-shadow: inset 0 0 0.1em 0.25em #ffce15, 0px 0em 0.5em 0em #ffce15;
}

.du-item-summary {
  border-radius: 0.25em;
  cursor: pointer;
  margin-bottom: 0.5em;
  padding: 0.25em 0.5em;
}

.du-item-summary:focus, .du-item-summary:hover {
  background: #efefef;
}

.du-closing-cross {
  border-radius: 50%;
  cursor: pointer;
  float: right;
  height: 1.5em;
  line-height: 1.5em;
  margin-bottom: '-1.4em';
  text-align: center;
  width: 1.5em;
}

.du-closing-cross:before {
  content: '✕';
}

.du-closing-cross:hover {
  background: #51b1c7;
}

.du-accordian {
  background: white;
  box-shadow: inset 0 0 0.1em 0.25em #51b1c7;
  padding: 0.75em;
  margin-bottom: 0.5em;
}

.du-accordian--overlay {
  box-shadow: inset 0 0 0.1em 0.25em #51b1c7, 0 1.5em 1em 0em #808080;
}

.du-flyout--below {
  margin-bottom: 0.75em;
  position: relative;
}

.du-flyout--below:after {
  border: solid transparent;
  content: ' ';
  pointer-events: none;
  border-bottom-color: #51b1c7;
  border-width: 1em;
  margin-top: 0.75em;
  position: absolute;
  left: calc(50% - 1em);
}

.du-checkboxes__item {
  line-height: 2em;
  margin-bottom: 0.5em;
  padding-left: 2.5em;
  position: relative;
}

.du-checkboxes__input {
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1em;
  left: 0em;
  height: 1.5em;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0.25em;
  width: 2em;
}

.du-checkboxes__label {
  cursor: pointer;
  display: inline-block;
}

.du-checkboxes__label:before {
  background: white;
  border: solid 1px black;
  box-sizing: border-box;
  content: "";
  height: 1.5em;
  left: 0em;
  position: absolute;
  top: 0.25em;
  width: 1.5em;
}

.du-checkboxes__label:after {
  border: solid 2px black;
  border-width: 0 0 2px 2px;
  content: "";
  height: 0.25em;
  left: 0.33em;
  margin-top: 0.5em;
  opacity: 0;
  position: absolute;
  top: 0.25em;
  transform: rotate(-45deg);
  width: 0.75em;
}

.du-checkboxes__input:checked+.du-checkboxes__label:after {
  opacity: 1;
}

.du-fieldset {
  border: 0;
  line-height: 2em;
  margin: 0;
  padding: 0;
}
