body {
  display: flex;
  justify-content: center;
  color: #333333; /*black*/
}

input {
  color: #333333; /*black*/
}

::selection {
  background: #D5D5D5;
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #D5D5D5; /*paper*/
}

input::placeholder {
  color: #B0B0B0; /*darker than paper*/
}

.App {
  text-align: center;
  width: 600px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333333; /*black*/
  line-height: 60px;
  color: #D5D5D5; /*paper*/
  border-radius: 5px;
  padding-bottom: 4px;
}

.App-intro {
  font-size: large;
}

.App-group {
  margin: 10px 0;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
